.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(59, 222, 255);
  background: linear-gradient(
    323deg,
    rgba(59, 222, 255, 1) 50%,
    rgba(255, 98, 181, 1) 50%
  );
  font-family: "Rubik", sans-serif;
  color: #78908c;
}
